*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#6a11cb,#2575fc);
}

.container{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 320px;
}

h2{
    margin-bottom: 15px;
    color: #333;
}

input, select, button{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    background: #2575fc;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover{
    background: #1a5ed9;
}

h3{
    margin-top: 15px;
    font-size: 20px;
    color: #333;
}