<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h2>Calculadora Flask</h2>
        <form action="/calcular" method="post">
            <input type="number" name="num1" placeholder="Primeiro número" required>
            <input type="number" name="num2" placeholder="Segundo número" required>
            <select name="operacao">
                <option value="soma">+</option>
                <option value="subtracao">-</option>
                <option value="multiplicacao">×</option>
                <option value="divisao">÷</option>
            </select>
            <br>
            <button type="submit">Calcular</button>
        </form>
        <h3>{{ resultado }}</h3>

        {% if historico%}
        <h4>Histórico:</h4>
        <ul>
            {% for calc in historico %}
                <li>{{ calc }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>
</html>